.filters button {
	background-color: #FF5A5F;
	display: flex;
	font-size: 18px;
	color: #FFFFFF;
	margin-left: auto;
	height: 48px;
	width: 20%;
	border: none;
}

.container .filters{
	color: black;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

.filters {
	display: flex;
	align-items: center;
	padding-right: 30px;
	padding-left: 30px;
}

button:hover {
	opacity: 0.9;
}